# This is a notebook do display and analyze the model responses for the various experiments.
*Author: Max Mohr*

In [15]:
import os
import sys
from dash import Dash, dcc, html, Input, Output
import plotly.express as px
from typing import Dict, List
from src.data.db_helpers import Database

# Add backend folder to path
parent_dir = os.path.dirname(
    os.path.realpath("/Users/mAx/Documents/Master/04/Master_Thesis/03_Codebase/src")
)
sys.path.append(parent_dir)

# Initialize the database
db = Database()
db.connect()

Successfully connected to database.

(<connection object at 0x300a3a500; dsn: 'user=postgres password=xxx dbname=mthesisdb host=193.196.52.142 port=5433', closed: 0>,
 <cursor object at 0x16c95ad40; closed: 0>,
 Engine(postgresql+psycopg2://postgres:***@193.196.52.142:5433/mthesisdb))

In [16]:
responses_grouped = db.fetch_data(total_object="v_responses_grouped")
responses_grouped.describe()

,experiment_id,bias_id,model_id,count,max_updated_at
count,200.0000,200.000000,200.000000,200.000000,200
mean,42998.4000,429.460000,52.400000,37.500000,2024-09-18 11:10:47.612761600
min,10110.0000,101.000000,10.000000,1.000000,2024-09-16 20:27:24.350069
25%,20210.0000,202.000000,20.000000,4.000000,2024-09-18 14:27:55.758457088
50%,45195.0000,451.500000,50.000000,20.500000,2024-09-18 16:02:43.588979968
75%,60220.0000,602.000000,80.000000,74.000000,2024-09-18 16:19:35.077629952
max,80280.0000,802.000000,80.000000,100.000000,2024-09-19 08:50:09.628445
std,22760.2765,227.579548,25.406049,37.028578,NaN

In [17]:
responses_grouped

,experiment_id,bias_id,model_id,response_type,response,count,max_updated_at
0,20170,201,70,choice,B,100,2024-09-16 20:27:42.648240
1,30180,301,80,choice,A,3,2024-09-18 14:27:43.959214
2,50120,501,20,numerical,5,100,2024-09-19 04:36:58.631731
3,60180,601,80,numerical,B,16,2024-09-18 14:28:42.987176
4,50270,502,70,numerical,0,100,2024-09-16 20:28:43.595847
...,...,...,...,...,...,...,...
195,30110,301,10,choice,B,100,2024-09-18 16:22:05.578622
196,10210,102,10,numerical,2,52,2024-09-18 16:19:35.077630
197,60210,602,10,numerical,3,1,2024-09-18 16:20:32.577341
198,20150,201,50,choice,A,65,2024-09-18 16:02:43.588980
199,70250,702,50,choice,B,90,2024-09-18 16:03:51.721138

In [18]:
bias_dict: Dict[str, List[int]] = {
    "all": [101, 102, 201, 202, 301, 401, 402, 501, 502, 601, 602, 701, 702, 801, 802],
    "anchoring": [601, 602],
    "category size bias": [401, 402],
    "endowment effect": [101, 102],
    "framing effect": [801, 802],
    "gambler's fallacy": [501, 502],
    "loss aversion": [201, 202],
    "sunk cost fallacy": [301],
    "transaction utility": [701, 702],
}

model_dict: Dict[str, List[int]] = {
    "all": [10, 20, 30, 40, 50, 60, 70, 80],
    "gemma2": [10],
    "gemma2:27b": [20],
    "gpt-4o-mini": [30],
    "gpt-4o": [40],
    "llama3.1": [50],
    "llama3.1:70b": [60],
    "phi3.5": [70],
    "phi3:medium": [80],
}

In [19]:
app = Dash(__name__)

app.layout = html.Div(
    [
        html.H2("Response distributions"),
        html.H4("Bias"),
        dcc.Dropdown(
            id="bias",
            options=[key for key, _ in bias_dict.items()],
            value="all",
            clearable=False,
        ),
        html.H4("Model"),
        dcc.Dropdown(
            id="model",
            options=[key for key, _ in model_dict.items()],
            value="all",
            clearable=False,
        ),
        dcc.Graph(id="graph"),
    ]
)


@app.callback(
    Output("graph", "figure"), Input("bias", "value"), Input("model", "value")
)
def update_bar_chart(bias: str, model: str):
    mask = (responses_grouped["bias_id"].isin(bias_dict[bias])) & (
        responses_grouped["model_id"].isin(model_dict[model])
    )
    fig = px.bar(
        responses_grouped[mask],
        x="bias_id",
        y="count",
        color="response",
        barmode="group",
    )
    return fig


app.run_server(debug=True)